table.board { 
    width: 70px; 
     height: 70px;  
     border: 1px solid #c1c1c1; 
     margin: 0 10px; 
} 
 
table.board td{ 
    border: 1px solid #c1c1c1; 
} 
 
table.board .queen img{ 
    width: 12px; 
} 

table.board .queen{ 
     background-color: red !important; 
} 

table.board .black{ 
    background-color: black; 
} 
 
div.table-contents { 
    width: 100%;  
    height: 100px; 
    display: table; 
} 
 
div.div-table { 
    display: table-cell; 
 
} 
 
div.subject-data{ 
    font-size: 12px; 
}